/*============== This file contains css for login page ======================================*/
/*=========================================================================================*/



/*=========================================================================================*/
/*logout landing page, contains background color for login page and etc*/
.landing_page{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-image: linear-gradient(to bottom right, #03045E, #023E8A,#0077B6);
}

/*=========================================================================================*/

/*welcome heading and chat icon */
.welcome_div{
	color:#CAF0F8;
	margin-bottom: 690px;
	font-size: 30px;
	width: 100%;
	height: 40%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#chat_icon{
	margin-bottom: 75px;
	margin-left: 8px;
	font-size: 60px;
}

.welcome_heading:hover,#chat_icon:hover{
	color: #ADE8F4;
}

/*=========================================================================================*/
/*login box contains, forms and other stuff like input, button and label*/
.login_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #023E8A;
	border-radius: 9px;
	width: 900px;
	height: 550px;
	background-color: #CAF0F8;
	position: absolute;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
	transition: 0.3s;
}

.join_heading{
	margin-bottom: 60px;
	font-size: 58px;
	color: #023E8A;
}

.login_form{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
	width: 100%;
	margin-bottom: 140px;
}

/*this is the input box for username and password*/
#uname_id, #password_id{
	width: 320px;
	border: none;
	border-bottom: 2px solid #023E8A;
	outline: none;
	font-size: 18px;
	background-color: #CAF0F8;
	color: #023E8A;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border-bottom: 2px solid #023E8A;
  -webkit-text-fill-color: #023E8A;
  -webkit-box-shadow: 0 0 0px 1000px #CAF0F8 inset;
  transition: background-color 5000s ease-in-out 0s;
}

#password_div{
	width: 100%;
	text-align: center;
	margin-left: 15px;
}

.label1, .label2{
	color: #023E8A;
	font-weight: 530;
	/*margin-top: 20px;*/
	font-size: 25px;
	margin-right: 25%;
	margin-bottom: 8px;
}

.label2{
	margin-top: 40px;
}


#eye_logo{
	color: #023E8A;
}


/*=========================================================================================*/
/*submit button css from here*/

.submit_button{
	margin-top: 50px;
	width: 210px;
	height: 35px;
	align-self: center;
	color: #CAF0F8;
 	font-size: 18px;
	background-color: #023E8A;
	border: 2px solid #023E8A;
	border-radius: 10px;
	font-weight: 600;
}

.submit_button:hover{
	background-color: #CAF0F8;
	color:#023E8A;
}


/*=========================================================================================*/
/*===============================  THE END  ===============================================*/
