.App{
	/*background-color: blue;*/
	height: 100vh;
}

/*primary font => for heading and stuff */
.textFont1{
	font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

/*secondary font => for subheading */
.textFont2{
	font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*tertiary font => everything other than heading and subheading*/
/*e.g., paragraph,article,normal text*/
.textFont3{
	font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.textFontButton{
	font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
