
/*=========================================================================================*/
/*======= home page:- page you get to after login =========================================*/
.home_page{
	height: 100%;
	overflow: hidden;
}


.middle_section{
	display: flex;
	height: 100%;
}


/*=========================================================================================*/
/*When there is no group joined */
.noGroupFound{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: #CAF0F8;
	/*justify-content: center;*/
	align-items: center;
	color: #023E8A;
}

.noGroupHeading{
	margin-bottom: 150px;
	margin-top: 50px;
	font-size: 48px;
}

.buttonGroup{
	height: 36px;
	width:20em;
	border-radius:5px;
	font-size: 22px;
	background-color: #023E8A;
	color: #90E0EF;
	border: 1px solid #023E8A;
}

.buttonGroup:hover{
	background-color: #90E0EF;
	color: #023E8A;
}




/*=========================================================================================*/
/*explore section*/
.explore_section{
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: #ADE8F4;
	position: sticky;
}

.explore_div{
	background-color: #CAF0F8;
	border-left: 1px solid #90E0EF;
	border-right: 1px solid #90E0EF;
	width: 60%;
	overflow-y: auto;
}

.explore_ul{
	list-style-type: none;
	width:100%;
	margin: 0;
	padding:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
}

.explore_heading{
	font-size: 60px;
	color: #0077B6;
}


.div_section_explore_list{
	display: inline-flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.explore_li{
	width:95%;
	background-color:#90E0EF;
	height:200px;
	margin-bottom: 40px;
	border-radius: 9px;
	border: 1px solid #48CAE4;
	box-shadow: 3px 3px 3px 3px #ADE8F4;
	padding: 10px;
}

.explore_li:hover{
	background-color: #ADE8F4;
}

.group_heading_div{
	/*background-color: red;*/
	text-align: center;
	width: 50%;
}

.explore_option_logo{
	position: relative;
	left: 20%;
}

#addUserSVG, #userAddedSVG{
	width: 30px;
	height: 30px;
}

#addUserSVG:hover, #userAddedSVG:hover{
	cursor: pointer;
}
#addUserSVG{
	fill: #0077B6;
}

#userAddedSVG{
	fill: #079465;
}

.groups_list_description{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	margin-top: 15px;
	/*background-color: red;*/
	text-align: center;
}

.tags_list_ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	/*background-color: yellowgreen;*/
	padding: 0;
	margin-top: 15px;
	justify-content: center;
	align-items: center;
}

.tags_list_li{
	padding:5px;
	margin: 5px;
	border: 1px solid #079465;
	border-radius: 5px;
}

/*============  explore section ends  =======================================================*/


/*=========================================================================================*/
/*css for the popup*/

/*parent of popup page*/
.popup_parent{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*background blur using a div*/
.background_blur{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	/* Add the blur effect */
	backdrop-filter: blur(5px);
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.popup_page{
	position: absolute;
	background-color: #CAF0F8;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border: 1px solid #48CAE4;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 95%;
	overflow-y: scroll;
}

/*inlines the heading and close button in popup page*/
.inline_elements{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.heading_popup_page{
	font-size: 45px;
	position: absolute;
	left: 385px;
	color: #03045E;
}


/*css for close button*/
.close_button{
	height: 30px;
	width: 40px;
	color: #023E8A;
}

.close_button:hover{
	/*background-color:yellowgreen;*/
	color: #03045E;
}

#categories_restriction_warning{
	color:#a32f3f;
	font-size: 20px;
	text-align: center;
	margin:0;
	padding:0;
}


.create_group_form{
	display:flex;
	flex-direction: column;
	margin-top: 20px;
}

#label_create_group{
	font-size: 18px;
	margin-top: 50px;
	color:#03045E;
	margin-bottom: 20px;
	margin-left: 70px;
}

#group_name_input, #description_textarea{
	width:70%;
	border: 2px solid #03045E;
	background-color: #ADE8F4;
	font-size: 16px;
	margin-left: 72px;
}

#group_name_input{
	height: 30px;
}

#description_textarea{
	height:200px;
}

.category_ul{
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	list-style-type: none;
	width: 80%;
}



/*each individual category*/
.category_li{
	background-color: white;
	padding: 10px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 8px;
	background-color:#ADE8F4;
	border:1px solid #90E0EF;
	color: #023E8A;
}

.category_li:hover{
	cursor: pointer;
	border:1px solid #023E8A;
	background-color: #90E0EF;
	color: #023E8A;
}

.create_group_submit_button{
	width:50%;
	height: 35px;
	margin-top: 50px;
	font-size: 17px;
	border: 1px solid #023E8A ;
	background-color: #90E0EF;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	bottom: 80px;
	right: 30%;
}

.create_group_submit_button:hover{
	background-color: #00B4D8;
	border: 1px solid #03045E;
	color: #03045E;
}



/*=========================================================================================*/
/*================ Css for ChatArea  ======================================================*/

.message_ul{
	display: flex;
	flex-direction: column-reverse;
	/*background-color: brown;*/
	width: 100%;
	height: 82%;
	margin:0;
	padding:0;
	margin-bottom: 20px;
	list-style-type: none;
	overflow-y: auto;
}

.message_box{
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #023E8A;
	color:white;
	min-width: 10%;
	max-width: 40%;
	left: 55%;
	font-size: 19px;
	border-radius: 19px;
	margin: 20px;
}

.message_li{
	position: relative;
	padding: 19px;
	font-family: Arial, Helvetica, sans-serif;
	word-break: normal;
	word-spacing: 2px;
	white-space: pre-line;
}

.message_metadata_ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	font-size: 13px;
	padding: 5px 19px 0px 19px;
}


.chatArea{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
	background-color: #CAF0F8;
	align-items: center;
}


.chatAreaForm{
	display: inline-flex;
	background-color: white;
	width: 100%;
	height: 10%;
}

.inputMessage{
	overflow: auto;
	resize: none;
	height: 90%;
	width: 90%;
	font-size: 18px;
	border: 1px solid #90E0EF;
	padding-top: 10px;
	padding-left: 20px;
}


.inputMessage:focus{
	outline: none;
	border: 4px solid #90E0EF;
}

.sendBtn{
	height: 110px;
	width: 129px;
	border: 3px solid #90E0EF;
	color: #0077B6;
	background-color: #CAF0F8;
	font-size: 16px;
	font-weight: 600;
}

.sendBtn:hover{
	background-color: #0077B6;
	color: #CAF0F8;
}
