/*css for top navigation*/
.top_navigation{
	display: flex;
	top: 0;
	flex-direction: row;
	justify-content: end;
	overflow: hidden;
	position: sticky;
	height: 5%;
	width: 100%;
	background-color: #03045E;
	border: 1px solid #023E8A;
}

#top_navigation_button{
	height: 100%;
	width: 160px;
	margin-bottom: 5px;
	background-color: #03045E;
	color: #00B4D8;
	border: none;
	font-size: 19px;
	font-weight: 600;
}

#top_navigation_button:hover{
	background-color: #00B4D8;
	color: #03045E;
	cursor: pointer;
}

.userProfile{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	right: 30%;
}

.nav_user_heading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.nav_profile_name, .nav_username{
	margin:0px;
	margin-left: 5px;
	color: #00B4D8;
}

.nav_profile_name{
	font-size: 20px;
}

.nav_username{
	font-size: 16px;
}

.nav_user_img{
	width:35px;
	border-radius: 100%;
	margin-right: 5px;
	border: 1px solid #03045E;
}



/*=========================================================================================*/
/*=========================================================================================*/



/*css for side navigation*/
.groupsArea, .membersArea{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20%;
	background-color: #ADE8F4;
	border-right: 1px solid #90E0EF;
	border-left: 1px solid #90E0EF;
	overflow-y: auto;
}



/*headings for both group and members side-section*/
#side_heading{
	color: #03045E;
	margin-bottom: 30px;
	margin-left: 15px;
}

#members_subheading{
	color: #03045E;
	margin-left: 15px;
}


#group_ul, #members_ul{
	list-style-type: none;
	color: #023E8A;
	font-size: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin:0;
	padding:0;
}

#members_image{
	width:30px;
	border-radius: 100%;
	margin-right: 5px;
	border: 1px solid #03045E;
}

#group_li, #member_li{
	display: flex;
	align-items: center;
	padding-left: 25px;
	font-weight: 600px;
	height: 50px;
	width: 100%;
}

#group_li:hover, #member_li:hover{
	background-color: #90E0EF;
	border-top: .5px solid #48CAE4;
	border-bottom: 1px solid #48CAE4;
	cursor: pointer;
}

.active_group{
	background-color: #90E0EF;
	border-top: .5px solid #48CAE4;
	border-bottom: 1px solid #48CAE4;
}

.group_name, .active_group_name{
	/*background-color: red;*/
	width: 70%;
	overflow: hidden;
}

.group_name{
	color: #0077B6;
}

.active_group_name{
	color: #03045E;

}

.active_side_bar_menu_dots, .side_bar_menu_dots{
	/*background-color: red;*/
	width: 20%;
	height: 70%;
}

.active_side_bar_menu_dots{
	fill: #023E8A;
}

.side_bar_menu_dots{
	fill: #0096C7;
}

.group_name:hover, .side_bar_menu_dots:hover{
	color: #03045E;
	fill: #03045E;
}

.group_menu_options_div{
	display: block;
  	position: absolute;
  	min-width: 120px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #90E0EF;
	border: 1px solid  #03045E;
	margin-left: 170px;
  	z-index: 0;
}

.group_menu_options_ul{
	list-style-type: none;
	width: 92%;
	margin: 0;
	padding:0;
}

.group_menu_options_li{
  	padding: 5px 5px 5px 5px;
	width: 100%;
}
